/*Variabler*/
$bg-color: #F0f0f0;
$nav-color: #ffffff;
$footer-color: #0a1f1c;
$primary-color: #3a8479;
$secondary-color: #133833;
$text-color: #484848;
$padding: 0.5em;
$font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

/*Mixins*/
@mixin flex($justify:center, $align:center){
    display: flex;
    align-items: $align;
    justify-content: $justify;
}

@mixin btn($bg-color:$primary-color, $btn-padding: 0.8em 1em){
    background-color: $bg-color;
    padding: $btn-padding;
    border-radius: 8px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
}

@mixin cta-boks($width:20vw){
    width: $width;
    background-color: $nav-color;
    padding: 2em;
    margin: 2em auto;
}